<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OdessaGUIProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OdessaGUIProject.Properties.Settings>
            <setting name="ShowFirstRunScreenV2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureDurationInSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HandThresholdOption" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IgnoreEarlyHighlights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRunDate" serializeAs="String">
                <value />
            </setting>
            <setting name="OptIntoAnalytics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheckDate" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalLoads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalVideosScanned" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalMinutesScanned" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasAppLoadedYet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AgreedToEULA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasAddedOtherVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstHighlightFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBrowsedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookAccessTokenExpiration" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveOutputFormat" serializeAs="String">
                <value>Original</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="HighlightDetailsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HighlightDetailsSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastSavedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SeenFacebookEncodingWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MustUpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasScannedSampleVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasOpenedDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasSavedVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasSharedVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasSharedVideoToFacebook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasExportedHighlights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasOpenedActivationOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasSelectedVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TutorialProgress" serializeAs="String">
                <value>0</value>
            </setting>
        </OdessaGUIProject.Properties.Settings>
    </userSettings>
  <appSettings>

  </appSettings>

  <startup>
    <!--The .NET Framework version 3.0 and 3.5 use version 2.0.50727 of the CLR. (http://msdn.microsoft.com/en-us/library/w4atty68.aspx)-->
    <supportedRuntime version="v2.0.50727" sku="Client"/>
    <supportedRuntime version="v4.0" sku="Client"/>
  </startup>

    <runtime>
      <generatePublisherEvidence enabled="false"/>
    </runtime>

</configuration>