<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target 
      name="logfile" 
      xsi:type="File" 
      layout="${date} ${callsite:includeSourcePath=false}: ${message}"
      fileName="${tempdir}/HighlightHunter-Scanner-${level}.log"
      keepFileOpen="true" 
      />
    <target name="console" xsi:type="Console" layout="${date} ${callsite:includeSourcePath=false}: ${message}" />
    <target xsi:type="NLogViewer" name="viewer" address="udp://127.0.0.1:877" includeCallSite="true" includeSourceInfo="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />
  </rules>
</nlog>
