<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TuningHostProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="TuningProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TuningHostProject.Properties.Settings>
            <setting name="BestDarknessPercentageThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestSecondsSkipThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestIndividualPixelBrightnessThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestActualScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentThresholdSecondsSkip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentThresholdIndividualPixelBrightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentThresholdDarkPixelsPerFrameAsPercentage"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompletedPassesCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TuningResultsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ThresholdSecondsSkipStart" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ThresholdSecondsSkipEnd" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ThresholdSecondsSkipIncrement" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ThresholdIndividualPixelBrightnessStart" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="ThresholdIndividualPixelBrightnessEnd" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="ThresholdIndividualPixelBrightnessIncrement" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThresholdDarkPixelsPerFrameAsPercentageStart"
                serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="ThresholdDarkPixelsPerFrameAsPercentageEnd" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="ThresholdDarkPixelsPerFrameAsPercentageIncrement"
                serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThresholdPixelScanPercentageStart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ThresholdPixelScanPercentageEnd" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ThresholdPixelScanPercentageIncrement" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurrentThresholdPixelScanPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestPixelScanPercentageThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentThresholdConsecutiveDarkFramesInSeconds"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThresholdConsecutiveDarkFramesInSecondsStart"
                serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ThresholdConsecutiveDarkFramesInSecondsEnd" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="ThresholdConsecutiveDarkFramesInSecondsIncrement"
                serializeAs="String">
                <value>0.3</value>
            </setting>
        </TuningHostProject.Properties.Settings>
        <TuningProject.Properties.Settings>
            <setting name="BestDarknessThresholdPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestConsecutiveDarkFramesThresholdInSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestIndividualPixelBrightnessThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestActualScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentConsecutiveDarkFramesThresholdInSeconds"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentIndividualPixelBrightnessThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentDarknessThresholdPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompletedPassesCount" serializeAs="String">
                <value>0</value>
            </setting>
        </TuningProject.Properties.Settings>
    </userSettings>
</configuration>
