<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target 
      name="tuninghelperlogfile" 
      xsi:type="File" 
      layout="${date} ${callsite:includeSourcePath=false}: ${message}"
      fileName="${tempdir}/HighlightHunter-TuningHelper-${level}.log"
      keepFileOpen="true" 
      />
    <target
      name="scannerlogfile"
      xsi:type="File"
      layout="${date} ${callsite:includeSourcePath=false}: ${message}"
      fileName="${tempdir}/HighlightHunter-Scanner-${level}.log"
      keepFileOpen="true"
      />
    <target
      name="tuninghostlogfile"
      xsi:type="File"
      layout="${date} ${callsite:includeSourcePath=false}: ${message}"
      fileName="${tempdir}/HighlightHunter-TuningHost-${event-context:item=PassNumber}-${level}.log"
      keepFileOpen="true"
      />
    <target
      name="logfile"
      xsi:type="File"
      layout="${date} ${callsite:includeSourcePath=false}: ${message}"
      fileName="${tempdir}/HighlightHunter-${level}.log"
      keepFileOpen="true"
      archiveFileName="${tempdir}/HighlightHunter-${level}.Archive.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      />
    <target name="console" xsi:type="Console" layout="${date} ${callsite:includeSourcePath=false}: ${message}" />
    <target xsi:type="NLogViewer" name="viewer" address="udp://127.0.0.1:877" includeCallSite="true" includeSourceInfo="true"/>
  </targets>

  <rules>
    <logger name="OdessaPCTestHelpers.*" minlevel="Trace" writeTo="tuninghelperlogfile" final="true" />
    <logger name="TuningScannerProject.*" minlevel="Trace" writeTo="scannerlogfile" final="true" />
    <logger name="TuningHostProject.*" minlevel="Trace" writeTo="tuninghostlogfile" final="true" />
    <logger name="OdessaGUIProject.*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />
  </rules>
</nlog>
