<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <!-- internalLogFile="NLogInternal.log" -->

  
  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target 
      name="logfile" 
      xsi:type="File" 
      layout="${date} ${callsite:includeSourcePath=false}: ${message}"
      fileName="${tempdir}/HighlightHunter-Test-${level}.log"
      keepFileOpen="true" 
      archiveFileName="${tempdir}/HighlightHunter-Test-${level}.Archive.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      />
    <target name="console" xsi:type="Console" layout="${date} ${callsite:includeSourcePath=false}: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
